@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/warehouse-led.jpg" alt="Improving your bottom line and increase speed." class="img-responsive" />
            <div class="carousel-caption" role="option">
                <div>
                    Pacejet Online Shipping Solution.<br/>
                    <a class="" href="http://www.pacejet.com/shipping-software/" target="_blank">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/warehouse-shipping.jpg" alt="Parcel and Freight in One Real-Time Carrier Integration." class="img-responsive" />
            <div class="carousel-caption" role="option">
                <div>
                    Parcel and Freight in One Real-Time Carrier Integration.<br>
                    <a class="" href="http://www.pacejet.com/carrier-shipping-software/" target="_blank">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/warehouse-shipping2.jpg" alt="Freight to retailers, Parcel to consumer, export to the world." class="img-responsive" />
            <div class="carousel-caption" role="option">
                <div>
                    Freight to Retailers. Parcel to Consumers. Export to the World.<br>
                    <a class="" href="http://cta-service-cms2.hubspot.com/ctas/v2/public/cs/c/?cta_guid=b5131919-1e1c-4ec2-9556-c233e24fe93e&placement_guid=12c45cd4-dc72-4248-90d5-88c9799087b4&portal_id=674264&redirect_url=APefjpErf9uhLPhJbicSSUEvStW0T07aK9KtmnxZqvUS1MDSksOMthSnY8gvc3s-oHzH7uYCPqN7oVIsc0Dzi4Ewl3-tmGZ2U3RGyYJVPd3WRYseokV25ETZStuINSvzd_fbCrYg65yy4TU6egNplHlB3pF2vJCMgx_y2bRzZSLnGwf9B_cPkJ_kDuRmZWEVie1qMjtzaWe-jYMA8BaYMQZ22KlmWXX77sKRdyo6GyN_qlOHOaDRevHpj0W6GEkJ8qqngaSgFd9xt6yH4TBGbiw6OFKelEAOo9tL-0eX6TjXWHgcuLjS0oM&hsutk=8cc4014a6199c4941f9af7a41d1d3f70&canon=http%3A%2F%2Fwww.pacejet.com%2Fshipping-software%2F&utm_referrer=http%3A%2F%2Fwww.pacejet.com%2F">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/warehouse-shipping3.jpg" alt="API Connectivity" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <div>
                    Integrate into your ERP or ECommerce Solution ins real-time.<br>
                    <a class="" href="http://www.pacejet.com/api/" target="_blank">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <h2>Give PacjetMini a try</h2>
        <ul>
            <li>See how fast you can see all the rates.</li>
            <li>See how it can show savings immediately.</li>
            <li>No set up needed.</li>
			<li><h4><a href="/Demo">Try it out</a></h4></li>
        </ul>
        
        <h2>Major Parcel Carrier support</h2>
        <img src="images/parcelcarriers.jpg" class="img-responsive"/>
	

    </div>
    <div class="col-md-6">
        
        <h3>Backed by Amazon AWS</h3>
        
        <img src="images/aws_Logo.png" class="img-responsive" style="max-width: 200px"/>
        <p>&nbsp;</p>
        <h3>Flexible and fast API</h3>
        <img src="images/api.png" class="img" style="max-width: 150px"/>
        <img src="images/speed.png" class="img" style="max-width: 110px"/>
    </div>

</div>
